#contact_section {
    max-width: 65vw;
    margin: auto;
}

#contact_form {
    background-color: #15607C;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    color: white;
}

.text_field{
    color: white;
}

.items {
    margin-top:1.25vh;
}