.footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    height: 13rem;
}

.logoContainer {
    width: 4vw;
    height: 4vh;
    position: relative;
}