.footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    height: 14rem;
    padding: 16px;
}

@media (min-width: 1860px) {
    .footer {
        height: 14rem;
    }
}

@media (min-width: 2440px) {
    .footer {
        height: 16rem;
    }
}

.logoContainer {
    width: 4vw;
    height: 4vh;
    position: relative;
}