#navbar {
    background-color: #15607C;
    color:white;
    height:7.5vh;
    font-size: large;
}

.navbarContent {
    width: 65vw;
    margin: auto;
}

.activeLink{
    color:rgba(255, 0, 0, 0.875);
}