#navbar {
    background-color: #15607C;
    color:white;
    height:7.5vh;
    font-size: large;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbarContent {
    width: 65vw;
    margin: auto !important;
}

.activeLink{
    color: rgba(255, 255, 255, 0.6) !important;
    border-bottom: rgba(255, 255, 255, 0.6) 2px solid !important;
}

.link {
    font-weight: 500;
}

.link:hover {
    color: rgba(255, 255, 255, 0.6);
}